<div fxFlexFill fxLayout="column" class="content">
  <div class="spinner-container" *ngIf="(dataSource.loading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <mat-toolbar>
      <span>Recipes</span> <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        (click)="openNewRecipeDialog()"
        matTooltip="New Recipe"
        *ngIf="hasPermissions"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div fxFlex="1 1 100%">
    <mat-table fxFlex="1 1 100%" #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="openUpdateRecipeDialog(element)"
            matTooltip="Update Recipe"
            *ngIf="hasPermissions"
          >
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="deleteRecipe(element._id)"
            matTooltip="Remove Recipe"
            *ngIf="hasPermissions"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
