<div class="recipe-container" *ngIf="(recipe$ | async) as recipe">
  <mat-card>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>
      Shared at {{ recipe.createdAt.toDate() | date: "shortDate" }} by
      {{ recipe.ownerName }}
    </mat-card-subtitle>
    <mat-card-content>
      <img [src]="recipe.imageUrl" class="recipe-image" />
      <h3>ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
      <h3>Preparation Steps</h3>
      <ul>
        <li *ngFor="let preparationStep of recipe.preparationSteps">
          {{ preparationStep }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
