<mat-toolbar class="search-container">
  <input
    type="text"
    placeholder="Find your favorite recipe"
    [(ngModel)]="searchInput"
  />
  <button mat-flat-button (click)="search()" color="accent">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
<div
  *ngIf="(recipes$ | async) as recipes"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="2%"
  fxLayoutGap.xs="0"
  fxLayoutAlign="center center"
>
  <mat-card
    *ngFor="let recipe of recipes"
    class="recipe-card"
    fxFlex="30%"
    [matBadge]="recipe.likes.length"
  >
    <img mat-card-image [src]="recipe.imageUrl" height="200" />
    <div fxLayout="row">
      <div>
        <mat-card-title> {{ recipe.name }} </mat-card-title>
        <mat-card-subtitle>{{
          recipe.createdAt.toDate() | date: "shortDate"
        }}</mat-card-subtitle>
      </div>
      <div class="fill-gap"></div>
      <button
        mat-icon-button
        (click)="toggleLike(recipe)"
        *ngIf="isAuthenticated"
        color="accent"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        [routerLink]="['/recipes', recipe._id]"
        color="accent"
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
